@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
body {
  background-color: #00b3b3;
  color: black;
  font-family: "Playfair Display", serif;
}

h1 {
  text-align: left;
  font-style: italic;
  margin-top: 200px;
  margin-right: 700px;
}

h2 {
  font-style: bold;
  font-size: 20px;
  text-align: center;
}

img {
  width: 800px;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}

ul {
   text-align:center;
}

li {
  display: inline-block;
  padding: 20px;
  margin-left: 0 auto;
}

li:hover {
  background-color: #009999;
}

h6 {
  text-align: center;
  font-style: italic;
  padding: 50px;
}
